@import '../helpers/fonts-var';

html {
  position: relative;
  height: 100%;

  body {
    min-height: 100%;
  }
}

body {
  padding-top: 60px;
  font-family: $base-font-family;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}
